@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Poppins', Arial, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   line-height: 1.75;
   background-color: rgb(255, 246, 236);
   color: #333;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 500;
   line-height: 1.25;
   margin-bottom: 8px;
   color: #1f2226;
}

a {
   display: inline-block;
   cursor: pointer;
   color: inherit;
   line-height: inherit;
   text-decoration: none;
   transition: all 0.4s ease;
}

a:hover {
   text-decoration: none;
   color: #c7a17a;
}

p {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.7;
   letter-spacing: 1.35px;

}
