.main-area {
   width: 100%;
}

.section-padding {
   padding: 70px 0;
}

.section-heading {
   margin: 0 auto;
   padding-bottom: 30px;
}

.section-heading .title {
   margin-bottom: 10px;
   font-size: 18px;
   color: #c7a17a;
   line-height: 1.25;
   letter-spacing: 0.25px;
   text-transform: capitalize;
}

.section-heading .subtitle {
   margin-bottom: 10px;
   font-size: 32px;
   color: #23201c;
}

.coffee-list {
   position: relative;
   display: flex;
   margin-left: 43px;
   padding: 20px 70px 0;
   border: 1px solid #e5e5e5;
}

.coffee-details {
   max-width: 350px;
   margin-right: auto;
   padding-right: 20px;
}

.coffee-title {
   font-size: 20px;
   color: #7e4b18;
   letter-spacing: 0.5px;
}