.coffee-details {
   max-width: 555px;
   margin: auto;
   padding-right: 20px;
}

@media only screen and (max-width: 767px) {
   .coffee-details {
      padding: 0 8%;
   }
}

@media only screen and (max-width: 479px) {
   .coffee-details {
      padding: 0 7%;
   }
}

.coffee-title {
   font-size: 20px;
   font-weight: 700;
   color: #6d3a07;
   letter-spacing: 0.5px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
   .coffee-title {
      font-size: 18px;
   }
}

.coffee-description {
   padding-bottom: 20px;
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
